body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr
{
  background-color: none;
  border-style: none;
  border-color: grey;
  border-width: 5px;
  border-top-style: dotted;
  width: 10%;
}

h1
{
  font-size: 5.625rem; /* 1rem = 16px here we needed 90px. 90/60=5.625 */
  margin-top: 50px;    /* rem is suitable for text size but px is suitable for spacing we can use rem,em,px,% */
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
  line-height: 2;
}

.web-developer
{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3
{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.web
{
  text-decoration: underline;
}

.top-cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.developer-img
{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.marketing-img
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link
{
  color: #11999E;
}

.bottom-container
{
  background-color: #66BFBF;
}

p
{
  line-height: 2;
}

